{% if utils.is_mobile %}
	{% set banner_title = banners.extra8 %}
{% else %}
	{% set banner_title = banners.title %}
{% endif %}

{% if banner_title %}
	{% element 'snippets/banner' {
		"banner_data": banner_title,
		"banner_modifier": "titulos",
		"prevent_lazy_load": true
	} %}
{% endif %}

<div class="clearfix">
	<div class="hidden-xs hidden-sm">
		{% element 'snippets/breadcrumb' %}
	</div>
</div>

<div class="grid-container">
	<div class="b-xs-12 {{ (products|length > 0) ? 'b-lg-3' }}">
		{% if search.word %}
			{% if settings.headings == "1" %}
				<h2 class="page__title">Buscando por: {{ search.word }}</h2>
				{% else %}
				<h1 class="page__title">Buscando por: {{ search.word }}</h1>		
			{% endif %}
		{% elseif search.brands %}
			{% for brand in search.brands if brand.selected %}
				{% if settings.headings == "1" %}
				<h2 class="page__title">{{ brand.name }}</h2>
				{% else %}
				<h1 class="page__title">{{ brand.name }}</h1>			
			{% endif %}
			{% endfor %}
		{% endif %}
	</div>

	{% if products|length > 0 %}
		<div class="b-xs-12 b-lg-9">
			<div class="catalog-controls">
				{% element 'snippets/showcase-mode-switcher' %}
				{% element 'snippets/filter' %}
			</div>
		</div>
	{% endif %}
</div>

<div class="grid-container">
	{% set column_size = (filters or (filter_options and settings.show_new_filters) or banners.side) ? 'big' : 'small' %}

	{% if filters or (filter_options and settings.show_new_filters) or banners.side %}
		<div class="b-xs-12 b-md-3">
			{% if filters %}
				{% element 'snippets/smart-filter' %}
			{% endif %}

			{% if filter_options and settings.show_new_filters %}
				{% element 'snippets/new-smart-filter' %}
			{% endif %}

			{% if banner.side and not utils.is_mobile %}
				<div class="hidden-xs hidden-sm">
					{% element 'snippets/banner' {
						"banner_data": banners.side,
						"prevent_lazy_load": true
					} %}
				</div>
			{% endif %}
		</div>
	{% endif %}

	<div class="b-xs-12 {{ (filters or (filter_options and settings.show_new_filters) or banners.side) ? 'b-md-9' : null }}">
		{% if products|length > 0 %}
			{% element 'snippets/compare-button' %}

			{% element 'snippets/showcase' {
				"products": products,
				"grid_container": true,
				"column_size": column_size
			} %}
	
			{% element 'snippets/compare-button' %}

			{% element 'snippets/pagination' %}
		{% else %}
	
			<div class="base-box">
				<p>Nenhum produto encontrado nessa busca.</p>
			</div>
	
		{% endif %}	
	</div>
</div>