.page--rastreio {
	.main {
		.base-box {
			overflow-x: auto;
			
			h3 {
				@include base-headings;
				@include h2;
			}

			table {
				width: 100% !important;

				tr {
					@include separator-border()

					th {
						font-weight: bold;
						padding: .5em;
					}

					td{
						padding: 1em .5em;
					}
				}
			}

			a {
				color: $link-color;
				font-weight: bold;
			}
		}
	}
}
