.pagination {
	text-align: right;
	font-size: 0;
	@include rem(margin, 0 0 50 auto);
	background-color: rgba($bg-cinza, 0.9);
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
	@include rem(border-radius, 3);
	overflow: hidden;

	@include bp(max-width, $bp-md) {
		text-align: center;
	}

	&__link {
		color: $texto-claro;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		text-transform: uppercase;

		&--active {
			background-color: $cinza-6;
			color: $texto-claro;
			padding: 0;
			@include rem(height, $bt-height);
			@include rem(line-height, $bt-height);
			@include rem(min-width, 28);
			@include rem(font-size, 14);
			font-weight: bold;
		}

		a {
			color: $texto-escuro;
			display: inline-block;
			padding: 0;
			@include rem(height, $bt-height);
			@include rem(line-height, $bt-height);
			@include rem(min-width, 28);
			@include rem(font-size, 14);

			&:visited {
				color: $texto-escuro;
			}

			&:hover {
				background-color: $bg-cinza
			}
		}	
	}

	&__prev, 
	&__next {
		font-weight: normal;

		a {
			color: $texto-escuro;
			@include rem(padding, 0 15);

			&:visited {
				color: $texto-escuro;
			}
			
			
		}

		&--active {
			a {
			}
		}

		&--disabled {
			color: $texto-cinza;
			background-color: transparent !important;
			@include rem(padding, 5 15);
			@include rem(font-size, 14);
			display: none;
		}

		@include bp(max-width, $bp-sm) {
			display: none;
		}
	}

	// Setas (muda a estrutura do elemento se está
	// ativo ou inativo)
	&__prev {
		&--disabled {
			&:before {
				@extend %icons_theme;
				position: relative;
				@include rem(top, 1);
				display: inline-block;
				content: $icon-chevron-left;
				margin-right: 0.25em;
			}
		}
		
		&--active {
			a {
				&:before {
					@extend %icons_theme;
					position: relative;
					@include rem(top, 1);
					display: inline-block;
					content: $icon-chevron-left;
					margin-right: 0.25em;
				}
			}			
		}
	}

	&__next {
		&--disabled {
			&:after {
				@extend %icons_theme;
				position: relative;
				@include rem(top, 1);
				display: inline-block;
				content: $icon-chevron-right;
				margin-left: 0.25em;
			}
		}
		
		&--active {
			a {
				&:after {
					@extend %icons_theme;
					position: relative;
					@include rem(top, 1);
					display: inline-block;
					content: $icon-chevron-right;
					margin-left: 0.25em;
				}
			}			
		}
	}
}