@import "variables";

[class^="icon-"], [class*=" icon-"], .icons-theme {
  @extend %icons_theme;
}

.icon-alert-circle {
  &:before {
    content: $icon-alert-circle; 
  }
}
.icon-alert-octagon {
  &:before {
    content: $icon-alert-octagon; 
  }
}
.icon-alert-triangle {
  &:before {
    content: $icon-alert-triangle; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-down-circle {
  &:before {
    content: $icon-arrow-down-circle; 
  }
}
.icon-arrow-down-left {
  &:before {
    content: $icon-arrow-down-left; 
  }
}
.icon-arrow-down-right {
  &:before {
    content: $icon-arrow-down-right; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-left-circle {
  &:before {
    content: $icon-arrow-left-circle; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-right-circle {
  &:before {
    content: $icon-arrow-right-circle; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-up-circle {
  &:before {
    content: $icon-arrow-up-circle; 
  }
}
.icon-arrow-up-left {
  &:before {
    content: $icon-arrow-up-left; 
  }
}
.icon-arrow-up-right {
  &:before {
    content: $icon-arrow-up-right; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-camera-off {
  &:before {
    content: $icon-camera-off; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-check-square {
  &:before {
    content: $icon-check-square; 
  }
}
.icon-chevrons-down {
  &:before {
    content: $icon-chevrons-down; 
  }
}
.icon-chevrons-left {
  &:before {
    content: $icon-chevrons-left; 
  }
}
.icon-chevrons-right {
  &:before {
    content: $icon-chevrons-right; 
  }
}
.icon-chevrons-up {
  &:before {
    content: $icon-chevrons-up; 
  }
}
.icon-circle {
  &:before {
    content: $icon-circle; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-download-cloud {
  &:before {
    content: $icon-download-cloud; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-edit-2 {
  &:before {
    content: $icon-edit-2; 
  }
}
.icon-edit-3 {
  &:before {
    content: $icon-edit-3; 
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link; 
  }
}
.icon-fast-forward {
  &:before {
    content: $icon-fast-forward; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.icon-grid {
  &:before {
    content: $icon-grid; 
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-help-circle {
  &:before {
    content: $icon-help-circle; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-image {
  &:before {
    content: $icon-image; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-loader {
  &:before {
    content: $icon-loader; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-log-in {
  &:before {
    content: $icon-log-in; 
  }
}
.icon-log-out {
  &:before {
    content: $icon-log-out; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-message-circle {
  &:before {
    content: $icon-message-circle; 
  }
}
.icon-message-square {
  &:before {
    content: $icon-message-square; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle; 
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square; 
  }
}
.icon-more-horizontal {
  &:before {
    content: $icon-more-horizontal; 
  }
}
.icon-more-vertical {
  &:before {
    content: $icon-more-vertical; 
  }
}
.icon-navigation {
  &:before {
    content: $icon-navigation; 
  }
}
.icon-navigation-2 {
  &:before {
    content: $icon-navigation-2; 
  }
}
.icon-octagon {
  &:before {
    content: $icon-octagon; 
  }
}
.icon-package {
  &:before {
    content: $icon-package; 
  }
}
.icon-pause {
  &:before {
    content: $icon-pause; 
  }
}
.icon-pause-circle {
  &:before {
    content: $icon-pause-circle; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-play-circle {
  &:before {
    content: $icon-play-circle; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle; 
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square; 
  }
}
.icon-refresh-ccw {
  &:before {
    content: $icon-refresh-ccw; 
  }
}
.icon-refresh-cw {
  &:before {
    content: $icon-refresh-cw; 
  }
}
.icon-rewind {
  &:before {
    content: $icon-rewind; 
  }
}
.icon-rotate-ccw {
  &:before {
    content: $icon-rotate-ccw; 
  }
}
.icon-rotate-cw {
  &:before {
    content: $icon-rotate-cw; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-send {
  &:before {
    content: $icon-send; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-share-2 {
  &:before {
    content: $icon-share-2; 
  }
}
.icon-shield {
  &:before {
    content: $icon-shield; 
  }
}
.icon-shopping-bag {
  &:before {
    content: $icon-shopping-bag; 
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart; 
  }
}
.icon-skip-back {
  &:before {
    content: $icon-skip-back; 
  }
}
.icon-skip-forward {
  &:before {
    content: $icon-skip-forward; 
  }
}
.icon-slash {
  &:before {
    content: $icon-slash; 
  }
}
.icon-square {
  &:before {
    content: $icon-square; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-stop-circle {
  &:before {
    content: $icon-stop-circle; 
  }
}
.icon-tag {
  &:before {
    content: $icon-tag; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-trash-2 {
  &:before {
    content: $icon-trash-2; 
  }
}
.icon-triangle {
  &:before {
    content: $icon-triangle; 
  }
}
.icon-truck {
  &:before {
    content: $icon-truck; 
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-upload-cloud {
  &:before {
    content: $icon-upload-cloud; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-video {
  &:before {
    content: $icon-video; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-x-circle {
  &:before {
    content: $icon-x-circle; 
  }
}
.icon-x-square {
  &:before {
    content: $icon-x-square; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in; 
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-youtube-play {
  &:before {
    content: $icon-youtube-play; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-facebook-official {
  &:before {
    content: $icon-facebook-official; 
  }
}
.icon-pinterest-p {
  &:before {
    content: $icon-pinterest-p; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}