$icomoon-font-family: "icotheme" !default;
$icomoon-font-path: "fonts" !default;

$icon-alert-circle: "\e902";
$icon-alert-octagon: "\e903";
$icon-alert-triangle: "\e904";
$icon-arrow-down: "\e90c";
$icon-arrow-down-circle: "\e90d";
$icon-arrow-down-left: "\e90e";
$icon-arrow-down-right: "\e90f";
$icon-arrow-left: "\e910";
$icon-arrow-left-circle: "\e911";
$icon-arrow-right: "\e912";
$icon-arrow-right-circle: "\e913";
$icon-arrow-up: "\e914";
$icon-arrow-up-circle: "\e915";
$icon-arrow-up-left: "\e916";
$icon-arrow-up-right: "\e917";
$icon-camera: "\e928";
$icon-camera-off: "\e929";
$icon-check: "\e92b";
$icon-check-circle: "\e92c";
$icon-check-square: "\e92d";
$icon-chevrons-down: "\e932";
$icon-chevrons-left: "\e933";
$icon-chevrons-right: "\e934";
$icon-chevrons-up: "\e935";
$icon-circle: "\e937";
$icon-clock: "\e939";
$icon-credit-card: "\e94e";
$icon-download: "\e955";
$icon-download-cloud: "\e956";
$icon-edit: "\e958";
$icon-edit-2: "\e959";
$icon-edit-3: "\e95a";
$icon-external-link: "\e95b";
$icon-fast-forward: "\e95e";
$icon-file: "\e960";
$icon-filter: "\e965";
$icon-folder: "\e967";
$icon-grid: "\e970";
$icon-headphones: "\e973";
$icon-heart: "\e974";
$icon-help-circle: "\e975";
$icon-home: "\e976";
$icon-image: "\e977";
$icon-info: "\e979";
$icon-link: "\e97e";
$icon-list: "\e980";
$icon-loader: "\e981";
$icon-lock: "\e982";
$icon-log-in: "\e983";
$icon-log-out: "\e984";
$icon-mail: "\e985";
$icon-map: "\e986";
$icon-map-pin: "\e987";
$icon-menu: "\e98a";
$icon-message-circle: "\e98b";
$icon-message-square: "\e98c";
$icon-minus: "\e991";
$icon-minus-circle: "\e992";
$icon-minus-square: "\e993";
$icon-more-horizontal: "\e996";
$icon-more-vertical: "\e997";
$icon-navigation: "\e99a";
$icon-navigation-2: "\e99b";
$icon-octagon: "\e99c";
$icon-package: "\e99d";
$icon-pause: "\e99f";
$icon-pause-circle: "\e9a0";
$icon-phone: "\e9a2";
$icon-play: "\e9aa";
$icon-play-circle: "\e9ab";
$icon-plus: "\e9ac";
$icon-plus-circle: "\e9ad";
$icon-plus-square: "\e9ae";
$icon-refresh-ccw: "\e9b3";
$icon-refresh-cw: "\e9b4";
$icon-rewind: "\e9b6";
$icon-rotate-ccw: "\e9b7";
$icon-rotate-cw: "\e9b8";
$icon-search: "\e9bc";
$icon-send: "\e9bd";
$icon-share: "\e9c0";
$icon-share-2: "\e9c1";
$icon-shield: "\e9c2";
$icon-shopping-bag: "\e9c4";
$icon-shopping-cart: "\e9c5";
$icon-skip-back: "\e9c8";
$icon-skip-forward: "\e9c9";
$icon-slash: "\e9ca";
$icon-square: "\e9ce";
$icon-star: "\e9cf";
$icon-stop-circle: "\e9d0";
$icon-tag: "\e9d5";
$icon-trash: "\e9dd";
$icon-trash-2: "\e9de";
$icon-triangle: "\e9e1";
$icon-truck: "\e9e2";
$icon-unlock: "\e9e7";
$icon-upload: "\e9e8";
$icon-upload-cloud: "\e9e9";
$icon-user: "\e9ea";
$icon-video: "\e9f0";
$icon-x: "\e9fb";
$icon-x-circle: "\e9fc";
$icon-x-square: "\e9fd";
$icon-youtube: "\e9fe";
$icon-zoom-in: "\ea01";
$icon-zoom-out: "\ea02";
$icon-twitter: "\f099";
$icon-google-plus: "\f0d5";
$icon-linkedin: "\f0e1";
$icon-youtube-play: "\f16a";
$icon-instagram: "\f16d";
$icon-facebook-official: "\f230";
$icon-pinterest-p: "\f231";
$icon-whatsapp: "\f232";
$icon-chevron-down: "\e900";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e905";
$icon-chevron-up: "\e906";